.form {
    margin-top: 2.5em;
    margin-left: 5.5em;
    margin-right: 5.5rem;
    margin-bottom: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5em;
    grid-row-gap: 1.5em;
    justify-content: center;
    grid-auto-flow: row;
    @media (max-width:30rem) {
        margin:0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &_element{
        display: grid;
        grid-column-gap: 0.7em;
        grid-row-gap: 0.5em;
        grid-template-rows: 1em 2.5em;
        &--date {
            grid-template-columns: 1fr 1fr 1fr;
            
        }
        &--selectText {
            grid-template-columns: 1fr 1.5fr;
        }
    }
    
  select {
    appearance: none;
    background: transparent;
    background-image:  url(/src/assets/open.svg);
    padding: 0.5em 1em;   
  }
  &_input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0.5em 1em;
    
    &--radio {
      cursor: pointer;
      padding: 0.2em 0 0 2.5em;
      position: relative;
      margin: 0 1em;
    }
  }
  &_label {
    color: #0d0d0d;
    font-size: 0.8em;
    padding: 0 0 0.5em;
    width: 100%;
  }
  &_separator {
      grid-column-start: -1;
      grid-column-end: 1;
      text-transform: uppercase;
      color: #000000;
      padding-bottom: 0.5em;
      border-bottom:1px solid #cccccc;
      border-top: none;
      border-left: none;
      border-right: none;
      background: none;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
  }
  &--error {
      color: #ff4220;
      border-color: #ff4220;
  }
}
.full {
    grid-column-start: 1;
    grid-column-end: -1;
}
.first { 
    grid-column-start: 1;
    grid-column-end: 2;
}
.second { 
    grid-column-start: 2;
    grid-column-end: 3;
}
.third {
    grid-column-start: 3;
    grid-column-end: 4;
 }
