<div class="form">
  <h2 class="first">Tus datos personales</h2>
  <div class="form_element first"><label for="first-name"></label>
    <input
      class="form_input"
      type="text"
      name="firstName"
      id="first-name"
      placeholder="Name"
    />
  </div>
  <div class="form_element second"><label for="surname"></label>
    <input
      class="form_input"
      type="text"
      name="surname"
      id="surname"
      placeholder="Surname"
    />
  </div>
  <div class="form_date form_text--left form_element">
    <label class="form_label full" for="date">Fecha de nacimiento</label>
    <input
      class="form_input first"
      type="number"
      name="day"
      id="day"
      placeholder="dia"
    />
    <input
      class="form_input second"
      type="number"
      name="month"
      id="month"
      placeholder="mes"
    />
    <input
      class="form_input third"
      type="number"
      name="year"
      id="year"
      placeholder="año"
    />
  </div>
  <div class="second form_element form_element--selectText">
    <label class="form_label full" for="document"
      >Documento identificativo</label
    >
    <select class="form_input first" name="document" id="document">
      <option class="form_input" value="DNI">DNI</option>
      <option class="form_input" value="Passport">Pasaporte</option>
    </select>
    <input
      class="form_input second"
      type="text"
      class="form_input"
      name="document-number"
      id="document-number"
    />
  </div>
  <div class="first form_element form_element--date">
    <label class="form_label full" for="gender">Género</label>
    <div class="first">
      <input
        class="form_input--radio"
        type="radio"
        name="gender"
        id="mujer"
        value="mujer"
      />
      <label for="Mujer">Mujer</label>
    </div>
    <div class="second">
      <input
        class="form_input--radio"
        type="radio"
        name="gender"
        id="hombre"
        value="hombre"
      />
      <label for="hombre">Hombre</label>
    </div>
    <div class="third">
      <input
        class="form_input--radio"
        type="radio"
        name="gender"
        id="noanswer"
        value="noanswer"
      />
      <label for="noanswer">Prefiero no contestar</label>
    </div>
  </div>
  <div class="form_element first">
    <label for="email"></label>
    <input
      class="form_input"
      type="email"
      name="email"
      id="email"
      placeholder="email"
    />
  </div>
  <div class="form_element form_element--second">
    <label for=""></label>
    <input
      class="form_input"
      type="email"
      name="confirm-email"
      id="confirm-email"
      placeholder="repite el email"
    />
  </div>
  <h2>Contraseña</h2>
  <div class="form_element first">
    <label class="form_label" for="password">Contraseña</label>
    <input class="form_input" type="password" name="password" id="password" />
  </div>
  <div class="form_element second">
    <label class="form_label" for="repeat-password">Repetir contraseña</label>
    <input
      class="form_input"
      type="password"
      name="repeat-password"
      id="repeat-password"
    />
  </div>
  <h2>Dirección</h2>
  <div class="form_element first">
    <label for="address"></label>
    <input
      class="form_input"
      type="text"
      name="address"
      id="address"
      placeholder="dirección"
    />
  </div>
</div>
