<div class="form">
    <h2>Tus datos personales</h2>
    <div class="form_row">
      <input class="form_input" type="text" name="firstName" id="first-name" placeholder="Name" />
      <input class="form_input" type="text" name="surname" id="surname" placeholder="Surname" />
    </div>
    <div class="form_row form_row--justified">
      <label class="form_label" for="date">Fecha de nacimiento</label>
      <input class="form_input hlp--s" type="number" name="day" id="day" placeholder="dia"/>
      <input class="form_input"type="number" name="month" id="month" placeholder="mes"/>
      <input class="form_input" type="number" name="year" id="year" placeholder="año" />
    </div>
    <div class="form_row form_row--justified">
      <label class="form_label" for="document">Documento identificativo</label>
      <select class="form_input" name="document" id="document">
        <option class="form_input" value="DNI">DNI</option>
        <option class="form_input" value="Passport">Pasaporte</option>
      </select>
      <input class="form_input" type="text" class="form_input" name="document-number" id="document-number" />
    </div>
    <div class="form_row form_row--column">
      <label class="form_label" for="gender">Género</label>
      <div>
        <input class="form_input--radio" type="radio" name="gender" id="mujer" value="mujer"/>
        <label  for="Mujer">Mujer</label>
      </div>
      <div>
        <input class="form_input--radio" type="radio" name="gender" id="hombre" value="hombre" />
        <label for="hombre">Hombre</label>
      </div>
      <div>
        <input class="form_input--radio" type="radio" name="gender" id="noanswer" value="noanswer" />
        <label for="noanswer">Prefiero no contestar</label>
      </div>
    </div>
    <div class="form_row form_row--justified">
      <label class="form_label">Email</label>
      <input class="form_input" type="email" name="email" id="email" placeholder="email">
      <input class="form_input" type="email" name="confirm-email" id="confirm-email" placeholder="repite el email">
    </div>
    <h2>Contraseña</h2>
    <div class="form_row form_row--justified">
      <input class="form_input" type="password" name="password" id="password">
      <input class="form_input" type="password" name="repeat-password" id="repeat-password">
    </div>
    <h2>Dirección</h2>
    <div class="form_row">
      <input class="form_input" type="text" name="address" id="address" placeholder="dirección">
    </div>
</div>
