.form {
    margin: 3em 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    &_row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1em 0;
        &--justified {
            justify-content: start;
        }
        &--column{
            flex-direction: column;
        }
    }
  select {
    appearance: none;
    background-image:  url(/src/assets/open.svg);
        &:disabled {
            background-image: url(/src/assets/open.svg);
        }
    background-position: right  0.625em center;
    background-repeat: no-repeat;
    padding: 0.5em 1em;    
  }
  &_input {
    border: 1px solid #cccccc;
    border-radius: 0;
    padding: 0.7em 1.5em;
    margin: 0.6em 0;
    &--radio {
      cursor: pointer;
      padding: 0.2em 0 0 2.5em;
      position: relative;
      margin: 0 1em;
    }
  }
  &_label {
    color: #0d0d0d;
    display: block;
    font-weight: 800;
    padding: 0 0 0.5em;
    width: 100%;
  }
}
